GONEO_API_URL=
GONEO_DB_HOST=
GONEO_DB_PORT=
GONEO_DB_NAME=
GONEO_DB_USER=
GONEO_DB_PASSWORD=
GONEO_FTPS_HOST=
GONEO_FTPS_PORT=
GONEO_FTPS_USER=
GONEO_FTPS_PASSWORD=
GONEO_FTPS_TARGET_PATH=
GONEO_TEILNAHME_ACCESS_CODE=
GONEO_API_ADMIN_SECRET=
GONEO_API_SESSION_SECRET=
GONEO_INITIAL_ADMIN_EMAIL=
GONEO_INITIAL_ADMIN_PASSWORD=
